<File ".htaccess">
    Order allow, deny
    Deny from all
</File>

Options -Indexes
IndexIgnore *

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^login$ php/login.php
RewriteRule ^register$ php/register.php

RewriteRule ^user$ php/user.php
RewriteRule ^user/([1-9][0-9]*)$ php/user.php?id=$1
