<Files ".htaccess">
    Order allow,deny
    Deny from all
</Files>

Options -Indexes
IndexIgnore *

RewriteEngine On
RewriteBase /

RewriteRule ^sql/.*$ / [R=301,L]
RewriteRule ^php/.*$ / [R=301,L]
RewriteRule ^includes/.*$ / [R=301,L]

RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ php/cors.php 

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^login/?$ php/login.php
RewriteRule ^register/?$ php/register.php

RewriteRule ^users/?$ php/user.php?action=all

RewriteRule ^user/?$ php/user.php
RewriteRule ^user/([1-9][0-9]*)/?$ php/user.php?id=$1
RewriteRule ^user/([1-9][0-9]*)/roles/?$ php/user.php?action=roles&id=$1
RewriteRule ^user/([1-9][0-9]*)/roles/([1-9][0-9]*)/?$ php/user.php?action=roles&id=$1&role=$2

RewriteRule ^forms/?$ php/form.php?action=all
RewriteRule ^forms/([1-9][0-9]*)/?$ php/form.php?action=all&id=$1
RewriteRule ^forms/([1-9][0-9]*)/visible/?$ php/form.php?action=visible&id=$1

RewriteRule ^form/?$ php/form.php
RewriteRule ^form/([1-9][0-9]*)/?$ php/form.php?id=$1
RewriteRule ^form/([1-9][0-9]*)/questions/?$ php/domande.php?action=all&form=$1
RewriteRule ^form/([1-9][0-9]*)/answers/?$ php/risposte.php?action=all&form=$1
RewriteRule ^form/([1-9][0-9]*)/answers/([1-9][0-9]*)/?$ php/risposte.php?action=user&form=$1&user=$2

RewriteRule ^question/?$ php/domande.php
RewriteRule ^question/([1-9][0-9]*)/?$ php/domande.php?id=$1
RewriteRule ^question/([1-9][0-9]*)/answers/?$ php/risposte.php?id=$1&action=question

RewriteRule ^answer/?$ php/risposte.php
RewriteRule ^answer/([1-9][0-9]*)/?$ php/risposte.php?&id=$1
