<Files ".htaccess">
    Order allow,deny
    Deny from all
</Files>

Options -Indexes
IndexIgnore *

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ php/cors.php 

RewriteRule ^login/?$ php/login.php
RewriteRule ^register/?$ php/register.php

RewriteRule ^users/?$ php/user.php?action=all
RewriteRule ^user/?$ php/user.php
RewriteRule ^user/([1-9][0-9]*)/?$ php/user.php?id=$1
RewriteRule ^user/([1-9][0-9]*)/roles/?$ php/user.php?action=roles&id=$1
RewriteRule ^user/([1-9][0-9]*)/roles/([1-9][0-9]*)/?$ php/user.php?action=roles&id=$1&role=$2

RewriteRule ^froms/?$
